<% layout("/INCLUDE/boilerplate")%>
    <style>
        .delete {
            text-decoration: underline;
            background-color: honeydew;
        }

        .card {
            margin: 5rem 2rem 0 4.5rem;
        }

        .card-body {
            margin: 1rem;
        }

        .row {
            display: flex;
            margin: 0 0 3rem 0;
        }
        body{
            background-image: url("tech (2).jpg");
            max-width: 100%;
            background-repeat: repeat;
            animation-name: tech;
            animation-duration: 20s;
            animation-iteration-count: 4;
        }
        @keyframes tech {
            0%{
                background-image: url("tech (2).jpg");
            }
            25%{background-image: url("tech.jpg");}
            50%{background-image: url("amil.jpeg");}
            
        }
        h1{
            color: red;
            filter: drop-shadow(5px 5px 3px rgb(128, 128, 128));
        }
    </style>
    <h1>
        TECH BLOGS
    </h1>
    <div class="row">
    <%for(let T of tech){%>
        <div class="card" style="width: 20rem; height: 28rem;  ">
            <img src="<%=T.Image.url%>" class="card-img-top " alt="network issue" style="width: 15rem; height: 13rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%=T.Title%>
                </h5>
                <p class="card-text">
                    <%=T.Content1%>
                </p>

                <a href="/tech/<%=T._id%>" class="btn btn-primary">READ</a>
            </div>
                <form method="POST" action="/tech/<%=T._id%>?_method=Delete">
                    <button>Delete</button>
                </form>
        </div>
        <%}%>
    </div>