<% layout("/INCLUDE/boilerplate")%>
    <style>
        .delete {
            text-decoration: underline;
            background-color: honeydew;
        }

        .card {
            margin: 5rem 2rem 0 4.5rem;
        }

        .card-body {
            margin: 1rem;
        }

        .row {
            display: flex;
            margin: 0 0 3rem 0;
        }
        body{
            background-image: url("crs.jpg");
            max-width: 100%;
            background-repeat:repeat;
        }
        h1{
            color: rgb(4, 104, 54);
            filter: drop-shadow(5px 5px 3px red);
        }
    </style>
    <h1>
        SPORTS BLOGS
    </h1>
    <div class="row">
    <%for(let C of cric){%>
        <div class="card" style="width: 20rem; height: 28rem;  ">
            <img src="<%=C.Image.url%>" class="card-img-top " alt="network issue" style="width: 15rem; height: 13rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%=C.Title%>
                </h5>
                <p class="card-text">
                    <%=C.Content1%>
                </p>

                <a href="/cric/<%=C._id%>" class="btn btn-primary">READ</a>
            </div>
            
                <form method="POST" action="/cric/<%=C._id%>?_method=Delete">
                    <button>Delete</button>
                </form>
              
        </div>
        <%}%>
    </div>